PORT=8000
APP_URL=http://localhost:8000/
CLIENT_URL=http://localhost:3000/

# This was inserted by prisma init:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

# Email Configuration
SMTP_HOST=smtp.example.com
SMTP_USER=user@example.com
SMTP_PASSWORD=your_smtp_password
FROM_EMAIL=sender@example.com

# Redis
REDIS_HOST=localhost

# Security
SECRET_KEY=your_secret_key